body{background-color:#0a0909}

#globe{color: rgb(223, 52, 52);
text-align: center;}

h3{text-align: center;
   color:cyan}

   #time{color:rgb(17, 168, 17);
        text-shadow: #fff;                         }















.item-container
{margin: 0.3rem 0 0 0;
padding: 0 0.5rem 0 1.5rem;
border: 1px solid;
color:white;
border-radius: 10px;
display: flex;}







.email-from {
    font-size: 1rem;
    font-weight: bold;
    text-decoration:wavy;
    color:orange;
    font-weight: lighter;
    font-family: 'Trattatello';
    border: outset;
    border-color: rgb(255, 106, 0);
    
    margin:20px
}

.email-subject {
    font-size: 0.9rem;
}

.item-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-center {
    align-items: center;
}



.profilepic{shape-outside: circle();
border: 1px solid;
  border-color: rgb(194, 30, 71);              

                    }


#name{  font-size: 1rem;
    font-weight: bold;
    text-decoration:wavy;
    color:orange;
    font-weight: lighter;
    font-family: 'Trattatello';
    font-size: 14px;;
    
     display: flex;    
         }

#online{color:green
}

#felixdiv{display: flex;
justify-content: right;
justify-content: space-around;}

#notactive{color:yellow}

.Rastaborder{
border:groove 1px green}






  