body{background-color:#121212}

.col{border:solid;
     color:white }

     .icons{text-align: center;}

     #mailicon{background-color: red;}

     .Title{color:aqua;
            text-align: center;
            text 
    
    
                                }

#eye {color: red;

     
                    }

.p{color:white;
font-size: small;}

#line{margin: auto 
      
                         }


